.body-web {
  margin: 50px;
  overflow: auto;
}

.body-web img{
  width: 100%;
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
.popular{
  color: #131313;
  letter-spacing: .15em;
  font-family: 'Rouge Script', cursive;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777;
}


.popular-prof{
  color: #131313;
  margin-top: 5rem;
  letter-spacing: .15em;
  font-family: 'Rouge Script', cursive;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777;
}


.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
}

.flex-container > div {
  color: white;
  width: 100px;
  margin: 10px;
  flex: 0 1 25%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

@media (max-width: 800px) {
  .flex-container > div {
    max-width: 75%;
    flex: 0 1 30%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .flex-container > div {
    max-width: 100%;
    flex: 0 1 100%;
  }
}
